# Nix directories
result*

# Test hugo build results
test/.hugo_build.lock
test/public/
test/resources/

# Ignore symlinked iso flags and fontawesome
src/static/img/iso-flags
src/assets/scss/fontawesome
src/static/fonts/fontawesome
