@import "lib/contrast";
@import "theme-vars";

/********************************************************************
 * Helper mixins
 */
@mixin rem-attributes($name, $remSize) {
    #{$name}: #{$fontSize * $remSize}px;
    #{$name}: #{$remSize}rem;
}

// Mixins with the variables for the color themes.
@mixin light-theme() {
    --background-color: #{$lightBackgroundColor};
    --foreground-color: #{$lightForegroundColor};

    --font-size: #{$fontSize}px;
    --font-family: #{$fontFamily};

    --food-menu-flags-vegan-background-color: #{$foodMenuFlagsVeganBackgroundColor};
    --food-menu-flags-vegan-foreground-color: #{contrast-color($foodMenuFlagsVeganForegroundColor, $foodMenuFlagsVeganBackgroundColor)};
    --food-menu-flags-vegetarian-background-color: #{$foodMenuFlagsVegetarianBackgroundColor};
    --food-menu-flags-vegetarian-foreground-color: #{contrast-color($foodMenuFlagsVegetarianForegroundColor, $foodMenuFlagsVegetarianBackgroundColor)};
    --food-menu-flags-gluten-free-background-color: #{$foodMenuFlagsGlutenFreeBackgroundColor};
    --food-menu-flags-gluten-free-foreground-color: #{contrast-color($foodMenuFlagsGlutenFreeForegroundColor, $foodMenuFlagsGlutenFreeBackgroundColor)};
}

@mixin dark-theme() {
    --background-color: #{$darkBackgroundColor};
    --foreground-color: #{$darkForegroundColor};
}

/*********************************************************************
 * Apply a natural box layout model to all elements
 */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

/*********************************************************************
 * CSS Reset
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*********************************************************************
 * BEGIN LAYOUT
 */
html {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
    font-size: var(--font-size);

    body {
        line-height: 1.5;

        /*************************************************************
         * BEGIN NAVIGATION LAYOUT
         */
        header {
            nav {
                text-align: center;
                font-size: 0;
                border-bottom: 1px solid black;

                div.logo {
                    float: left;
                    font-size: 16px;
                }

                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        float: left;
                        a {
                            display: inline-block;

                            font-size: 1.2rem;
                            line-height: 3.4rem;
                            padding-right: 1rem;
                            padding-left: 1rem;

                            &:hover {
                                background: #cccccc;
                            }
                        }
                    }
                }
            }
        }
        /*
         * END NAVIGATION LAYOUT
         ************************************************************/

        /*************************************************************
         * BEGIN CONTENT LAYOUT
         */
        div.wrapper {
            text-align: center;

            div.content {
                text-align: left;
                display: inline-block;
                width: 500px;

                /*****************************************************
                 * BEGIN FOOD MENU LAYOUT
                 */
                div.food-menu, div.food-menu-flags {
                    .flags span.flag {
                        padding: 5px;
                        margin: 5px;
                        border-radius: 5px;

                        &.vegan {
                            background: var(--food-menu-flags-vegan-background-color);
                            color: var(--food-menu-flags-vegan-foreground-color);

                            &:before {
                                content: 'V';
                            }
                        }

                        &.vegetarian {
                            background: var(--food-menu-flags-vegetarian-background-color);
                            color: var(--food-menu-flags-vegetarian-foreground-color);

                            &:before {
                                content: 'VG';
                            }
                        }

                        &.gluten-free {
                            background: var(--food-menu-flags-gluten-free-background-color);
                            color: var(--food-menu-flags-gluten-free-foreground-color);

                            &:before {
                                content: 'GF';
                            }
                        }
                    }
                }
                div.food-menu {
                    div.items div.item {
                        display: inline-block;
                        width: 100%;

                        h3.title {
                            float: left;

                            span.flags {
                                float: right;
                            }
                        }

                        div.price {
                            float: right;
                        }

                        div.ingredients {
                            clear: both;
                        }

                        hr {
                            clear: both;
                        }
                    }
                }
                div.food-menu-flags {
                    ul {
                        list-style: none;
                        li {
                            float: left;
                            padding: 10px;
                        }
                    }
                }
                /*
                 * END FOOD MENU LAYOUT
                 ****************************************************/
            }
        }
        /*
         * END CONTENT LAYOUT
         ************************************************************/

        /*************************************************************
         * BEGIN FOOTER LAYOUT
         */
        footer.footer {
            text-align: center;

            border-top: 1px solid black;

            div.content {
                display: inline-block;
                width: 500px;
            }
        }
        /*
         * END FOOTER FOOTER LAYOUT
         ************************************************************/
    }
}
/*
 * END LAYOUT
 ********************************************************************/

/*********************************************************************
 * THEME
 */
:root {
    @include light-theme();
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme();
    }
}
/*
 * END THEME
 ********************************************************************/
