/*********************************************************************
 * This is a theme variables file to configure the theme look.
 */

/* Base font size in px */
$fontSize: 16;

/* Page content width factor */
$pageContentWidthFactor: 42;

/* Font size for different elements in rems */
$fontSizeH1: 1.8;
$fontSizeH2: 1.6;
$fontSizeH3: 1.4;
$fontSizeH4: 1.2;

/* Font family */
$fontFamily: sans;

/* Colors */
$lightBackgroundColor: white;
$lightForegroundColor: black;

$darkBackgroundColor: #171717;
$darkForegroundColor: white;

/* Food menu flags */
$foodMenuFlagsVeganBackgroundColor: darkgreen;
$foodMenuFlagsVeganForegroundColor: white;
$foodMenuFlagsVegetarianBackgroundColor: darkgreen;
$foodMenuFlagsVegetarianForegroundColor: white;
$foodMenuFlagsGlutenFreeBackgroundColor: #715000;
$foodMenuFlagsGlutenFreeForegroundColor: white;
