<header>
    {{ if (isset .Site.Menus "i18n") }}
    <div class="i18n">
        <ul>
            {{ range .Site.Menus.i18n }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="logo">
        <a href="{{ .Site.Params.homeUrl | relURL }}">
            <picture>
                <source srcset="{{ .Site.Params.darkLogoPath | relURL }}" media="(prefers-color-scheme: dark)" />
                <source srcset="{{ .Site.Params.lightLogoPath | relURL }}" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
                <img src="{{ .Site.Params.lightLogoPath | relURL }}" alt="Logo of {{ .Site.Title }}" />
            </picture>
        </a>
    </div>
    <nav>
        {{ if (isset .Site.Menus "main") }}
        <ul>
            {{ if isset .Site.Params "home"}}
            <li><a href="{{ .Site.Params.homeUrl | relURL }}">{{ .Site.Params.home }}</a></li>
            {{ end }}
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
