<header>
    <div class="logo">
        <a href="{{ "/" | absURL }}">
            <img src="{{ .Site.Params.logoPath | absURL }}" alt="Logo of {{ .Site.Title }}" />
        </a>
    </div>
    <nav>
        {{ if (isset .Site.Menus "main") }}
        <ul>
            {{ if isset .Site.Params "home"}}
            <li><a href="{{ "/" | absURL }}">{{ .Site.Params.home }}</a></li>
            {{ end }}
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
