<header>
    {{ if (isset .Site.Menus "i18n") }}
    <div class="i18n">
        <ul>
            {{ range .Site.Menus.i18n }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="logo">
        <a href="{{ .Site.Params.homeUrl | absURL }}">
            <img src="{{ .Site.Params.logoPath | absURL }}" alt="Logo of {{ .Site.Title }}" />
        </a>
    </div>
    <nav>
        {{ if (isset .Site.Menus "main") }}
        <ul>
            {{ if isset .Site.Params "home"}}
            <li><a href="{{ .Site.Params.homeUrl | absURL }}">{{ .Site.Params.home }}</a></li>
            {{ end }}
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
